Repository athalia-siwek/arkalia-luna-pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-generated, zeroia-healthcheck, healthcheck-zeroia, zeroia-rollback, run-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        exclude: |
          (^modules/zeroia/state/zeroia_.*\.toml$|
           ^state/zeroia_dashboard\.json$|
           \.tox|venv|site-packages|\.?__pycache__|\.DS_Store|^\._)

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff
        args: [--fix]
        language_version: python3.10
        exclude: |
          (^modules/zeroia/state/zeroia_.*\.toml$|
           ^state/zeroia_dashboard\.json$|
           venv|\.DS_Store|\.AppleDouble|^\._)

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: |
          (^logs/failure_analysis\.md$|
           ^state/.*\.json$|
           ^state/.*\.toml$)
      - id: trailing-whitespace
        exclude: |
          ^modules/zeroia/state/zeroia_.*\.toml$|
          ^state/zeroia_dashboard\.json$

  - repo: local
    hooks:
      - id: format-generated
        name: Format generated files
        description: Format all generated directories with isort + black
        entry: bash -c 'find . -name "generated" -type d -exec sh -c "isort {} --profile black && black {} --quiet" \;'
        language: system
        files: ^modules/.*/generated/
        pass_filenames: false

      - id: zeroia-healthcheck
        name: ZeroIA TOML Health Check
        entry: python3 scripts/zeroia_health.py
        language: system
        files: ^modules/zeroia/state/zeroia_state\.toml$
        pass_filenames: false

      - id: healthcheck-zeroia
        name: üß† ZeroIA Healthcheck
        entry: python3 scripts/healthcheck_zeroia.py
        language: system
        types: [python]
        files: ^modules/zeroia/state/zeroia_state\.toml$
        pass_filenames: false

      - id: zeroia-rollback
        name: ‚ôªÔ∏è ZeroIA Auto-Rollback
        entry: python3 scripts/zeroia_rollback.py
        language: system
        files: ^modules/zeroia/state/zeroia_state\.toml$
        pass_filenames: false

      - id: clean-hidden-files
        name: Clean macOS hidden files
        entry: bash scripts/ark-clean-hidden.sh
        language: system
        types: [file]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.5
    hooks:
      - id: bandit
        name: Security Linter
        description: Run Bandit security linter
        entry: bandit -r
        language: python
        types: [python]
        exclude: ^tests/

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        name: Flake8 Linter
        description: Run Flake8 linter
        entry: flake8
        language: python
        types: [python]
        exclude: |
          ^modules/zeroia/state/zeroia_.*\.toml$|
          ^state/zeroia_dashboard\.json$

  - repo: local
    hooks:
      - id: run-tests
        name: Run Tests
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false

# CI
ci:
  skip: false

# üö¶ Stages d√©finis
default_stages: [pre-commit]

✨ Final: Linting parfait - 0 erreurs
  modules/generative_ai/generated/test_core.py
  state/sandozia/latest_metrics.json
Due: format-generated, run-tests

🧹 Final: Nettoyage fichiers cachés + suppression test_core.py
  cache/sandozia_snapshots/cache.db
  cache/sandozia_snapshots/cache.db-shm
  modules/cognitive_reactor/state/cognitive_state.json
  modules/generative_ai/generated/test_core.py
  modules/generative_ai/state/generative_state.json
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: format-generated, run-tests

🔧 Fix: Suppression test_core.py + correction noqa
  modules/cognitive_reactor/state/cognitive_state.json
  modules/generative_ai/state/generative_state.json
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: none

🔧 Update GitHub Actions to v4: fix deprecated actions
  .github/workflows/ci.yml
Due: none

📊 Add chaos metrics files - CI/CD 100% green
  chaos_metric_0.toml
  chaos_metric_1.toml
  chaos_metric_3.toml
  chaos_metric_7.toml
Due: none

🔧 Fix CI/CD: Remove Python 3.11 matrix, fix artifacts, improve error handling
  .github/workflows/ci.yml
Due: none

🔧 Fix CI/CD artifacts & improve mypy types - Tests 444/444 pass
  .github/workflows/ci.yml
  cache/sandozia_snapshots/cache.db
  cache/sandozia_snapshots/cache.db-shm
  chaos_metric_2.toml
  chaos_metric_4.toml
  chaos_metric_7.toml
  chaos_metric_8.toml
  modules/cognitive_reactor/state/cognitive_state.json
  modules/helloria/state.py
  modules/zeroia/adaptive_thresholds.py
  modules/zeroia/state/zeroia_state.py
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: run-tests

🔧 Fix UP035 linting errors - Replace typing.Dict with dict
  modules/cognitive_reactor/state/cognitive_state.json
  modules/helloria/state.py
  modules/zeroia/adaptive_thresholds.py
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: run-tests

🔧 Fix CI/CD: Correct conftest.py import, fix test parameters, improve mypy types
  cache/sandozia_snapshots/cache.db
  cache/sandozia_snapshots/cache.db-shm
  chaos_metric_3.toml
  chaos_metric_6.toml
  chaos_metric_9.toml
  modules/cognitive_reactor/state/cognitive_state.json
  modules/helloria/state.py
  modules/zeroia/adaptive_thresholds.py
  modules/zeroia/state/zeroia_state.py
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
  tests/conftest.py
  tests/unit/zeroia/test_adaptive_thresholds.py
Due: run-tests

🔧 Fix mypy errors: Add missing type annotations, fix function signatures, improve error handling
  modules/assistantia/utils/ollama_connector.py
  modules/cognitive_reactor/state/cognitive_state.json
  modules/zeroia/circuit_breaker.py
  modules/zeroia/confidence_score.py
  modules/zeroia/failsafe.py
  modules/zeroia/healthcheck_enhanced.py
  modules/zeroia/logic/reflexia_check_trigger.py
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
  tests/unit/zeroia/test_failsafe.py
Due: run-tests

🔧 Fix black formatting & mypy errors: Correct line length, fix object attributes, improve type annotations
  modules/cognitive_reactor/state/cognitive_state.json
  modules/zeroia/event_store.py
  modules/zeroia/model_integrity.py
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
  tests/unit/zeroia/test_adaptive_thresholds.py
Due: run-tests

🔧 Fix CI: Corrige tests unitaires, imports dépréciés et formatage Black
  cache/sandozia_snapshots/cache.db
  cache/sandozia_snapshots/cache.db-shm
  chaos_metric_0.toml
  chaos_metric_1.toml
  chaos_metric_5.toml
  chaos_metric_6.toml
  chaos_metric_9.toml
  modules/arkalia_master/orchestrator_enhanced_v5.py
  modules/arkalia_master/orchestrator_ultimate.py
  modules/assistantia/core.py
  modules/assistantia/utils/ollama_connector.py
  modules/cognitive_reactor/state/cognitive_state.json
  modules/zeroia/circuit_breaker.py
  modules/zeroia/confidence_score.py
  modules/zeroia/failsafe.py
  modules/zeroia/healthcheck_enhanced.py
  modules/zeroia/logic/reflexia_check_trigger.py
  modules/zeroia/model_integrity.py
  modules/zeroia/orchestrator_enhanced.py
  routes/test_chat_route.py
  scripts/ark-validate-performance.py
  scripts/demo_orchestrator_enhanced.py
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
  tests/performance/zeroia/test_zeroia_performance.py
  tests/unit/assistantia/test_ollama_connector_extra.py
  tests/unit/zeroia/test_circuit_breaker.py
Due: run-tests

🔧 Fix CI: Corrige imports et markers pytest
  pyproject.toml
  tests/unit/crossmodule_validator/test_cross_module_enhanced.py
Due: run-tests

🔧 Fix pytest.ini: Corrige section [tool:pytest] → [pytest]
  pytest.ini
Due: none

🔧 Fix CI: Corrige tests échouants et fichiers manquants
  modules/cognitive_reactor/state/cognitive_state.json
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
  tests/unit/assistantia/test_ollama_connector_extra.py
  tests/unit/crossmodule_validator/test_cross_module_enhanced.py
Due: run-tests

🔧 Fix CI: Corrige tests échouants et fichiers manquants
  modules/cognitive_reactor/state/cognitive_state.json
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: none

🔧 Fix CI: Corrige derniers tests échouants
  modules/cognitive_reactor/state/cognitive_state.json
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
  tests/unit/assistantia/test_assistantia_core_coverage.py
  tests/unit/crossmodule_validator/test_cross_module_enhanced.py
Due: run-tests

🔄 Update state files
  modules/cognitive_reactor/state/cognitive_state.json
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: none

🎯 Fix CI finale: Résout tous les tests échouants et ajuste coverage
  modules/cognitive_reactor/state/cognitive_state.json
  pyproject.toml
  pytest.ini
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
  tests/scripts/test_sitemap.py
  tests/unit/error_recovery/test_failure_recovery.py
Due: run-tests

🎨 Format Black: Corrige formatage des tests
  modules/cognitive_reactor/state/cognitive_state.json
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
  tests/scripts/test_sitemap.py
  tests/unit/error_recovery/test_failure_recovery.py
Due: run-tests

fix(ci): seuil couverture, lint, mypy, tests stables, anticipation erreurs
  CORRECTIONS_CI_CD.md
  cache/sandozia_snapshots/cache.db
  cache/sandozia_snapshots/cache.db-shm
  chaos_metric_3.toml
  chaos_metric_4.toml
  modules/cognitive_reactor/state/cognitive_state.json
  pyproject.toml
  pytest.ini
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: none

fix(ci): ajuster seuil couverture GitHub Actions de 70% à 28% pour correspondre à la couverture réelle
  .github/workflows/ci.yml
  cache/sandozia_snapshots/cache.db
  cache/sandozia_snapshots/cache.db-shm
  chaos_metric_7.toml
  chaos_metric_8.toml
  chaos_metric_9.toml
  modules/cognitive_reactor/state/cognitive_state.json
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: none

fix(ci): configurations pytest spécifiques pour sécurité/performance/chaos avec seuils adaptés (10%)
  .github/workflows/ci.yml
  CORRECTIONS_CI_CD_FINAL.md
  chaos_metric_0.toml
  chaos_metric_1.toml
  chaos_metric_3.toml
  chaos_metric_4.toml
  chaos_metric_5.toml
  modules/cognitive_reactor/state/cognitive_state.json
  pytest-chaos.ini
  pytest-performance.ini
  pytest-security.ini
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: none

Désactivation du module generative-ai - service commenté pour éviter les redémarrages automatiques
  docker-compose.yml
Due: none

État stable v2.8.0 - Correction erreurs syntaxe + désactivation generative_ai + nettoyage complet
  modules/cognitive_reactor/state/cognitive_state.json
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: none

Documentation v2.8.0 - Mise à jour releases, changelog et état stable actuel
  docs/core/changelog-detailed.md
  docs/releases/dernieres_updates.md
  docs/releases/index.md
Due: none

Ajout Latest Updates à la navigation du site
  mkdocs.yml
Due: none

Fix liens 404 : conversion .mmd en .md, correction navigation et liens, ajout VSCode Setup
  docs/architecture/decision_flow.md
  docs/security/architecture.md
  docs/vscode-setup.md
  mkdocs.yml
Due: none

fix: correction syntaxe EventType et appels EventStore pour compatibilité black et Python 3.10
  scripts/ark-validate-performance.py
Due: run-tests

fix: ajout rapport documentation update v2.8.0 à la navigation - plus de fichiers orphelins
  mkdocs.yml
Due: none

🐛 Fix liens d'accueil : suppression des .md pour compatibilité MkDocs et correction 404
  docs/index.md
Due: none

🐛 Fix dernier lien .md dans la page d'accueil : correction complète des 404
  docs/index.md
Due: none

🚀 Améliorations majeures du site v2.8.0 : mode sombre automatique, animations, PWA, SEO, accessibilité et performance
  cache/sandozia_snapshots/cache.db
  cache/sandozia_snapshots/cache.db-shm
  docs/assets/arkalia-luna-theme.css
  docs/assets/docs/manifest.json
  docs/assets/docs/seo.json
  docs/assets/js/arkalia-enhancements.js
  mkdocs.yml
  modules/cognitive_reactor/state/cognitive_state.json
  scripts/ark-validate-site.sh
  state/global_context.toml
  state/reflexia_state.toml
  state/sandozia/latest_metrics.json
  state/zeroia_state.toml
Due: none
